.form-group{class: add_error_class(tournament, :name)}
  = f.label :name, 'Name', class: "control-label input-label"
  = f.text_field :name, class: "form-control"
  .span.help-block= show_errors(tournament, :name)
.form-group{class: add_error_class(tournament, :number_of_rounds)}
  = f.label :number_of_rounds, 'Number of rounds', class: "control-label input-label"
  = f.number_field :number_of_rounds, min: 1, max: 5, class: "form-control"
  .span.help-block= show_errors(tournament, :number_of_rounds)
= f.submit 'Submit', class: "btn btn-default mb-20"
