%h2 Tournaments

= render partial: '/tournaments/filter', locals: {action: admin_tournaments_path}

%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Name
      %th{:scope => "col"} Rounds
      %th{:scope => "col"} Players
      %th{:scope => "col"} Teams
      %th{:scope => "col"} Matches
      %th{:scope => "col"} State
      %th{:scope => "col"} Edit
      %th{:scope => "col"} Finish tournament
      %th{:scope => "col"} Close Vote
      %th{:scope => "col"} Delete
  %tbody
    - @tournaments.each do |tournament|
      %tr
        %th{:scope => "row"}= tournament.id
        %td
          = link_to tournament.name, admin_tournament_path(tournament)
        %td= tournament.number_of_rounds
        %td
          =link_to 'assign', admin_tournament_players_path(tournament)
        %td
          =link_to 'teams', admin_tournament_teams_path(tournament)
        %td
          =link_to 'matches', admin_tournament_matches_path(tournament)
          %td= tournament.aasm_state
        %td
          =link_to 'edit', edit_admin_tournament_path(tournament)
        %td
          =link_to 'done', done_admin_tournament_path(tournament), method: :post if tournament.in_process?
        %td
          =link_to 'close', admin_tournament_vote_path(tournament, tournament.vote), method: :patch if tournament.vote&.new?
        %td
          =link_to 'delete', admin_tournament_path(tournament), method: :delete, data: { confirm: 'Are you sure?' }
