= form_tag action, method: :get, class: 'form-inline' do
  = fields_for 'player_search' do |s|
    .form-group
      = s.label 'Player name'
      = s.text_field :name, class: 'form-control', value: params&.[](:player_search)&.[](:name)
  = submit_tag 'Submit', class: "btn btn-default mb-20"
