.row.top-buffer
  %nav.navbar.navbar-default
    = form_tag action, method: :get, class: 'navbar-form navbar-left' do
      = fields_for 'player_search' do |s|
        .form-group
          = s.label 'Name'
          = s.text_field :name, class: 'form-control', value: params&.[](:player_search)&.[](:name)
      = submit_tag 'Submit', class: "btn btn-primary mb-20"
