%h2= "Participants of #{@tournament.name} tournament"

.row
  .pull-left
    =link_to admin_tournament_path(@tournament), class: 'btn btn-default' do
      =fa_icon "caret-left", text: "Tournament", right: false
    =link_to new_admin_tournament_player_path, class: 'btn btn-default' do
      =fa_icon "user-plus", text: 'Add members', right: false
  .pull-right
    %span.badge.badge-info= fa_icon "user", text: "#{@tournament.users.count}", right: true

= render partial: 'admin/players/filter_players', locals: { action: admin_tournament_players_path(@tournament) }

.row
  = render partial: '/players/players', locals: { tournament: @tournament, players: @players }
