%h2= "Add members to #{@tournament.name}"

.row
  .pull-left
    =link_to admin_tournament_players_path(@tournament), class: 'btn btn-default' do
      =fa_icon "caret-left", text: "Players", right: false
  .pull-right
    %span.badge.badge-info= fa_icon "user", text: "#{@tournament.users.count}", right: true

= render partial: 'admin/players/filter_players', locals: { action: new_admin_tournament_player_path }

.row
  - if @players
    %table.table.table-hover
      %thead
        %tr
          %th{:scope => "col"} Email
          %th{:scope => "col"} Action
      %tbody#players-table
      - @players.each do |user|
        %tr
          %td= user.email
          - if @tournament.users.include?(user)
            %td
              =link_to 'delete', admin_tournament_player_path(@tournament, user.id), method: :delete
          - else
            %td
              =link_to 'add', admin_tournament_players_path(@tournament, player_id: user.id), method: :post
  - else
    %p players not found
  - if @players
    = paginate @players
