%h2 Edit match ##{@match.id}

= form_for @match, url: admin_tournament_match_path, method: :put do |f|
  -# .form-group
    -# %p Who win?
    -# = f.label :first_team, @match.first_team.name, class: "control-label input-label"
    -# = radio_button_tag :winner, @match.first_team.id, winner?(@match, @match.first_team), class: "radio-input"
  -# .form-group
    -# = f.label :first_team, @match.second_team.name, class: "control-label input-label"
    -# = radio_button_tag :winner, @match.second_team.id, winner?(@match, @match.second_team), class: "radio-input"
  .form-group
    = f.label :first_team_result, class: "control-label input-label"
    = f.text_field :first_team_result, class: "radio-input"
  .form-group
    = f.label :second_team_result, class: "control-label input-label"
    = f.text_field :second_team_result, class: "radio-input"
  = f.submit 'Submit', class: "btn btn-default mb-20"
