%h2= "Matches in #{@tournament.name}"

.row
  .pull-left
    =link_to admin_tournament_path(@tournament), class: 'btn btn-default' do
      =fa_icon "caret-left", text: "Tournament", right: false
    =link_to generate_matches_admin_tournament_matches_path, method: :put, class: 'btn btn-default' do
      =fa_icon "cogs", text: 'Generate regular matches', right: false
    =link_to new_admin_tournament_match_path, class: 'btn btn-default' do
      =fa_icon "plus", text: 'Create new match', right: false

.row.top-buffer
  = render partial: 'admin/matches/filter', locals: {action: admin_tournament_matches_path(@tournament)}

.row
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Team#1
        %th{:scope => "col"} Team#2
        %th{:scope => "col"} Winner
        %th{:scope => "col"} Type
        %th{:scope => "col"} Edit
        %th{:scope => "col"} Delete
    %tbody#sortable-votes{ "data-update-url": "#{sort_admin_tournament_matches_path}" }
      - @matches.each do |match|
        %tr{ id: "match_#{match.id}" }
          %td= match.first_team&.name
          %td= match.second_team&.name
          %td= winner(match)
          %td= match.match_type
          %td
            =link_to 'edit', edit_admin_tournament_match_path(@tournament, match)
          %td
            =link_to 'delete', admin_tournament_match_path(@tournament, match), method: :delete, data: { confirm: 'Are you sure?' }

  %button#save-match-order.btn.btn-primary.btn-block{ "data-redirect-url": "#{admin_tournament_matches_path}" } Save positions
