= form_tag action, method: :get, class: 'form-inline' do
  = fields_for 'tournament_search' do |s|
    .form-group
      = s.label 'Name'
      = s.text_field :search, class: 'form-control', value: params&.[](:tournament_search)&.[](:search)
    .form-group
      = s.select :type, options_for_select(['new', 'in_process', 'completed'], params&.[](:tournament_search)&.[](:type)), { prompt: 'state' }, { class: 'form-control' }
  = submit_tag 'Submit', class: "btn btn-default mb-20"
