%h2 Your tournaments

= render partial: '/tournaments/filter', locals: {action: root_path}
= render partial: '/tournaments/tournaments', locals: {tournaments: @tournaments}

%h2 Teams
= render partial: '/teams/filter', locals: {action: root_path}
= render partial: '/teams/teams', locals: {teams: @teams, edit: true}

%h2 Aviable Vote
%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Tournament
      %th{:scope => "col"} Vote
  %tbody
    - if current_user.tournaments
      - current_user.tournaments.each do |tournament|
        - if tournament.vote.present? && tournament.vote.new?
          %tr
            %td= tournament.name
            %td
              = link_to 'vote!', tournament_vote_path(tournament, tournament.vote)
