%h2 Your tournaments

= form_tag root_path, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :search
    = submit_tag 'Submit', class: "btn btn-default mb-20"

= render partial: '/tournaments/tournaments', locals: {tournaments: current_user.tournaments}

%h2 Teams
= render partial: '/teams/teams', locals: {teams: @teams}

%h2 Aviable Vote
%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Tournament
      %th{:scope => "col"} Vote
  %tbody
  - current_user.tournaments.each do |tournament|
    - if tournament.vote.present? && tournament.vote.new?
      %tr
        %td= tournament.name
        %td
          = link_to 'vote!', tournament_vote_path(tournament, tournament.vote)
