%h2= "Edit teams"

=link_to 'back to tournaments', admin_tournaments_path, class: 'btn btn-default'

- if @tournament.teams
  #sortable-teams{ "data-update-url": "#{update_teams_admin_tournament_teams_path(@tournament)}" }
    - @tournament.teams.each do |team|
      %p= team.name
      %div{ id: "team-#{team.id}", class: 'connectedSortable teams' }
        %p.team-name{ id: "member-#{team.first_member.id}" }= team.first_member.email
        %p.team-name{ id: "member-#{team.second_member.id}" }= team.second_member.email
%button#save-teams-order.btn.btn-primary.btn-block{ "data-redirect-url": "#{admin_tournament_matches_path}" } Save
