%h2= "Participating teams in #{@tournament.name} tournament"

%p= flash&.[](notice)

.row
  .pull-left
    =link_to admin_tournaments_path, class: 'btn btn-default' do
      =fa_icon "caret-left", text: "Tournaments", right: false
    =link_to generate_teams_admin_tournament_teams_path, method: :put, class: 'btn btn-default' do
      =fa_icon "cogs", text: 'Generate commands', right: false
    =link_to edit_teams_admin_tournament_teams_path, class: 'btn btn-default' do
      =fa_icon "edit", text: 'Edit commands', right: false
    =link_to new_admin_tournament_team_path, class: 'btn btn-default' do
      =fa_icon "plus", text: 'New team', right: false

.row.top-buffer
  = render partial: '/teams/filter', locals: {action: admin_tournament_teams_path(@tournament)}

.row
  - if @teams
    %table.table.table-hover
      %thead
        %tr
          %th{:scope => "col"} #
          %th{:scope => "col"} Team
          %th{:scope => "col"} First member
          %th{:scope => "col"} Second member
          %th{:scope => "col"} Edit
          %th{:scope => "col"} Delete
      %tbody
      - @teams.each do |team|
        %tr
          %th{:scope => "row"}= team.id
          %td= team.name
          %td= team.first_member.email
          %td= team.second_member.email
          %td
            =link_to 'edit', edit_admin_tournament_team_path(@tournament, team.id)
          %td
            =link_to 'delete', admin_tournament_team_path(@tournament, team.id), method: :delete, data: { confirm: 'Are you sure?' }
  - else
    %p teams not found
